---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

import Layout from "@layouts/Layout.astro";
import JpHeading from "@components/jpHeading.vue";
import BgGradientBox from "@components/BgGradientBox.vue";
import List from "@components/content/list.vue";
import container from "@components/primitives/container";

dayjs.extend(customParseFormat);

const getTvShows = await getCollection("tv-shows");
const sortedTvShows = getTvShows.sort((a, b) =>
  dayjs(a.data.releaseDate, "DD/MM/YYYY").isBefore(
    dayjs(b.data.releaseDate, "DD/MM/YYYY")
  )
    ? 1
    : -1
);
const tvShowsPerPage = Math.ceil(sortedTvShows.length / 8);
---

<Layout title="séries">
  <BgGradientBox img="/assets/images/movie-theatre.jpg">
    <h1 class="relative text-7xl">
      séries
      <JpHeading top="0" left="0">テレビ番組</JpHeading>
    </h1>

    <p class="pt-6 text-center">Lorem ipsum dolor sit amet</p>
  </BgGradientBox>

  <div class={container()}>
    <List
      client:load
      items={sortedTvShows}
      itemType="tv-shows"
      maxPage={tvShowsPerPage}
    />
  </div>
</Layout>
