---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

import Layout from "@layouts/Layout.astro";
import JpHeading from "@components/jp-heading.vue";
// import HeroImageBox from "@components/hero-image-box.vue";
import List from "@components/content/list.vue";
import container from "@components/primitives/container";

dayjs.extend(customParseFormat);

const getFilms = await getCollection("films");
const sortedFilms = getFilms.sort((a, b) =>
  dayjs(a.data.releaseDate, "DD/MM/YYYY").isBefore(
    dayjs(b.data.releaseDate, "DD/MM/YYYY")
  )
    ? 1
    : -1
);
const filmsPerPage = Math.ceil(sortedFilms.length / 8);
---

<Layout title="filmes">
  <div class={container()}>
    <div
      class="relative mb-20 flex h-80 w-full flex-col items-center justify-center border-2 border-lightPurple md:h-[60vh] lg:h-[75vh]"
    >
      <img
        class="absolute left-0 top-0 -z-10 h-full w-full object-cover opacity-20"
        src="/assets/images/movies-movie-theatre.jpg"
        alt=""
      />
      <h1 class="relative font-manrope text-8xl font-bold">
        filmes
        <JpHeading top="0" left="0">テレビ番組</JpHeading>
      </h1>

      <p class="pt-6 text-center">Lorem ipsum dolor sit amet</p>
    </div>

    <List
      client:load
      items={sortedFilms}
      itemType="films"
      maxPage={filmsPerPage}
    />
  </div>
</Layout>
