---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

import Layout from "@layouts/Layout.astro";
import List from "@components/content/list.vue";
import container from "@components/primitives/container";

dayjs.extend(customParseFormat);

const getFilms = await getCollection("films");
const sortedFilms = getFilms.sort((a, b) =>
  dayjs(a.data.releaseDate, "DD/MM/YYYY").isBefore(
    dayjs(b.data.releaseDate, "DD/MM/YYYY")
  )
    ? 1
    : -1
);
const filmsPerPage = Math.ceil(sortedFilms.length / 8);
---

<!-- TODO, add description here -->
<Layout title="filmes">
  <div
    class="relative mx-auto mb-20 flex h-80 w-full flex-col items-center justify-center border-y-2 border-lightBlue md:mb-16 md:h-[60vh] lg:h-[75vh] xl:max-w-[1200px] xl:border-2 xxl:max-w-[1525px]">
    <img
      class="absolute left-0 top-0 -z-10 h-full w-full object-cover opacity-20"
      src="/assets/images/movies-movie-theatre.jpg"
      alt=""
    />
    <div class="relative">
      <h2
        class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text text-3xl text-transparent flex w-full justify-center break-keep font-jp opacity-40">
        映画
      </h2>
      <h1
        class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text px-6 pb-6 font-manrope text-7xl font-bold text-transparent lg:text-8xl xl:text-9xl">
        filmes
      </h1>
    </div>
    <p class="text-center text-xl md:text-2xl">
      a magia das emoções na grande tela
    </p>
  </div>

  <div class={container()}>
    <List
      client:load
      items={sortedFilms}
      itemType="films"
      maxPage={filmsPerPage}
    />
  </div>
</Layout>
