---
import JpHeading from "@components/jpHeading.vue";
import type { IStaff } from "@utils/ts/aniListApiTypes";

interface Props {
  data: IStaff[];
}

const { data } = Astro.props;
---

<div>
  <h1 class="pb-4">
    amazing humans who did this
    <JpHeading left="0" top="25%">ボボ の 電波な奴</JpHeading>
  </h1>
  <div class="flex flex-row flex-wrap justify-center gap-4">
    {
      data.map((staff) => (
        <div class="flex flex-col items-center justify-center">
          <img
            width={100}
            height={100}
            alt={staff.node.name.full}
            src={staff.node.image.large}
          />
          <h5 class="py-2">{staff.node.name.full}</h5>
          <p>{staff.role}</p>
        </div>
      ))
    }
  </div>
</div>
