---
import Layout from "@layouts/Layout.astro";
---

<Layout title="erro 404">
  <div class="flex h-screen flex-col items-center justify-center">
    <img src="/assets/images/pikachu-test.png" alt="teste" />
    <div class="pt-6 pb-2 text-center">
      <h1>erro 404</h1>
      <h4>página não encontrada...</h4>
    </div>
    <a href="/">voltar à página inicial</a>
  </div>
</Layout>
