---
import { tv } from "tailwind-variants";
import { Icon } from "astro-icon";

import NavLink from "@components/header/nav-link.astro";
import JpHeading from "@components/jp-heading.vue";

const nav = tv({
  base: "w-full left-0 before:w-full  z-20",
  variants: {
    bg: {
      transparent: "",
      solid: "static ",
    },
  },
});

const url = Astro.url;

// /films /tv-series /films/... /films/[movie]
const isAbAndTransparent =
  url.pathname !== "/" && url.pathname !== "/404" && url.pathname !== "/500";
---

<nav class={nav({ bg: isAbAndTransparent ? "transparent" : "solid" })}>
  <div
    class="mx-auto mb-14 mt-4 flex w-11/12 flex-wrap items-center justify-between gap-4 sm:gap-6 md:w-10/12 md:gap-10 xl:w-3/4"
  >
    <a href="/">
      <h2 class="m-0 p-0">bobo's</h2>
      <h2 class="m-0 p-0">
        zoomer<b>anime</b>
      </h2>
    </a>

    <div class="flex flex-row flex-wrap items-center">
      <NavLink href="/tv-shows">
        <div class="flex flex-col items-center">
          <Icon class="fill-lightPurple w-7 h-7" name="bx-tv" />
          <div class="relative pb-2 text-xl">
            <span>séries</span>
            <JpHeading left="0%" top="5%">テレビ番組</JpHeading>
          </div>
        </div>
      </NavLink>

      <NavLink href="/films">
        <div class="flex flex-col items-center">
          <Icon
            class="fill-lightPurple w-7 h-7 transition-colors"
            name="bxs-movie"
          />
          <div class="relative pb-2 text-xl">
            <span>filmes</span>
            <JpHeading left="0%" top="5%">映画</JpHeading>
          </div>
        </div>
      </NavLink>
    </div>
  </div>
</nav>
