---
import { tv } from "tailwind-variants";
import { Icon } from "astro-icon";

import NavLink from "@components/header/navLink.astro";
import JpHeading from "@components/jpHeading.vue";

const nav = tv({
  base: "w-full left-0 before:w-full :before-h-80 z-20",
  variants: {
    bg: {
      transparent: "bg-transparent absolute mb-24 before:mb-24",
      solid:
        "bg-[rgba(47, 69, 80, 0.8)] static mb-8 before:w-full before:h-80 before:mb-8",
    },
  },
});

const url = Astro.url;

// /movies /tv-series /movies/... /movies/[movie]
const isAbAndTransparent =
  url.pathname !== "/" && url.pathname !== "/404" && url.pathname !== "/500";
---

<nav class={nav({ bg: isAbAndTransparent ? "transparent" : "solid" })}>
  <div
    class="my-9 mx-auto flex w-11/12 flex-wrap items-center justify-between gap-4 sm:gap-6 md:w-10/12 md:gap-10 xl:w-3/4"
  >
    <a href="/">
      <h2 class="m-0 p-0">bobo's</h2>
      <h2 class="m-0 p-0">
        zoomer<b>anime</b>
      </h2>
    </a>

    <div class="flex flex-row flex-wrap items-center">
      <NavLink href="/tv-shows">
        <div class="flex flex-col items-center">
          <Icon
            class="fill-lightPurple group-hover:fill-mediumBlue group-active:fill-mediumBlue w-7 h-7 transition-colors"
            name="bx-tv"
          />
          <div class="relative pb-2">
            <span>séries</span>
            <JpHeading left="0%" top="5%">テレビ番組</JpHeading>
          </div>
        </div>
      </NavLink>

      <NavLink href="/movies">
        <div class="flex flex-col items-center">
          <Icon
            class="fill-lightPurple group-hover:fill-mediumBlue group-active:fill-mediumBlue w-7 h-7 transition-colors"
            name="bxs-movie"
          />
          <div class="relative pb-2">
            <span>filmes</span>
            <JpHeading left="0%" top="5%">映画</JpHeading>
          </div>
        </div>
      </NavLink>
    </div>
  </div>
</nav>
