<!-- TODO, add new p with anilist api legal stuff -->
<footer
  class="mx-auto mb-6 mt-20 flex w-11/12 justify-start text-xs text-stone-700 md:mt-32 md:w-10/12 xl:w-3/4">
  <p>
    bobo's zoomeranime {new Date().getFullYear()} -{" "}
    <a
      rel="noreferrer"
      target="_blank"
      href="https://josepsoares.vercel.app/"
      class="underline decoration-purple-800/80 transition-colors hover:decoration-lightPurple/50 active:decoration-lightPurple/50">
      josepsoares
    </a>
  </p>
  <!-- 
        <p class="mt-20 text-stone-700">
          Toda a informação apresentada nesta página é obtida a partir da{" "}
          <Link
            isExternalHref={true}
            text="website da API do AniList"
            href="https://anilist.gitbook.io/anilist-apiv2-docs/"
          >
            API do AniList
          </Link>
          , também é possível ver a informação na{" "}
          <Link
            isExternalHref={true}
            text={`website série no AniList - ${title}`}
            href={siteUrl}
          >
            página da série na plataforma
          </Link>
        </p>
     
    } -->
</footer>
