<footer
  class="mx-auto mt-32 mb-6 flex w-11/12 justify-start text-xs text-stone-700 md:w-10/12 xl:w-3/4"
>
  <p>
    bobo's zoomeranime {new Date().getFullYear()} -{" "}
    <a
      rel="noreferrer"
      target="_blank"
      href="https://josepsoares.vercel.app/"
      class="underline decoration-purple-900/50 transition-colors hover:decoration-lightPurple/50 active:decoration-lightPurple/50"
    >
      josepsoares
    </a>
  </p>
</footer>
