---
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  isExternalHref?: boolean;
  text: string;
  icon?: string;
}

const { href, isExternalHref = "false", text, icon } = Astro.props;
---

<a
  aria-label={text}
  href={href}
  target={isExternalHref ? "_blank" : null}
  rel={isExternalHref ? "noopener noreferrer" : null}
  class={icon
    ? "flex flex-row transition-colors active:text-primary-600 hover:text-primary-600 items-center underline decoration-2 decoration-[#1d976c]"
    : "underline transition-colors decoration-2 active:text-primary-600 hover:text-primary-600 decoration-[#1d976c]"}
>
  {icon && <Icon class="mr-2 h-5 w-5" name={icon} />}
  <slot />
</a>
