---
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  isExternalHref?: boolean;
  text: string;
  icon?: string;
  iconPos?: string;
}

const {
  href,
  isExternalHref = "false",
  text,
  icon,
  iconPos = "left",
} = Astro.props;
---

<a
  aria-label={text}
  {href}
  target={isExternalHref ? "_blank" : null}
  rel={isExternalHref ? "noopener noreferrer" : null}
  class={icon
    ? "flex flex-row fill-lightGrey transition-colors active:fill-lightBlue hover:fill-lightBlue active:text-lightBlue hover:text-lightBlue items-center underline decoration-2 decoration-lightPurple"
    : "underline transition-colors decoration-2 active:fill-lightBlue hover:fill-lightBlue active:text-lightBlue hover:text-lightBlue decoration-lightPurple"}
>
  {icon && iconPos === "left" && <Icon class="mr-2 h-5 w-5" name={icon} />}
  <slot />
  {icon && iconPos === "right" && <Icon class="mr-2 h-5 w-5" name={icon} />}
</a>
